torch==2.3.1
torchaudio==2.3.1
onnxruntime>=1.18,<2
hyperpyyaml==1.2.2
ruamel.yaml<0.18
omegaconf==2.3.0
transformers==4.40.1
openai-whisper==20231117
flask>=3.0,<4
flask-cors>=5.0,<6
jieba>=0.42
inflect>=7.3
tiktoken>=0.7
pypinyin>=0.53
soundfile>=0.12
scipy>=1.13
pyarrow>=17
librosa>=0.10,<0.11
requests>=2.32
tqdm>=4.66
conformer==0.3.2
diffusers==0.29.0
